
<div class="container-fluid">
  <div class="section">
    <div class="row">
      <div class="col-md-6 ">
        <h4 class="page-header">Display benefits of having shop and how it works</h4>
        <p>
          Start by simply telling us what you're selling.
          Then, make your listing really shine with great photos. You can add up to 12 for free.
        </p>
        <p>
          We'll give you tips on how to price and ship your item.
         Most new sellers list their items as auction-style to attract the most buyers.
        </p>
        <p>
          That's it! Just click "List it" and your item will be visible to millions of buyers! Once it sells, tada, you get money!
        </p>

        <h3>How to sell like a boss</h3>
        <p>
          Here are some tips and hints to help you become a smart seller.
        </p>

    <li>Include lots of details in your title and description to help buyers make informed purchases. Include the brand, color, size, etc.</li>
    <li>List your item as an auction, and consider including free shipping. Most new sellers find auctions to be the best option for them.</li>
    <li>Photos! Photos! Photos! You can add up to 12 for free and they are a great way to attract buyers. Make sure to photograph your item from different angles and to show any flaws.</li>
      </div>
      <div class="col-md-6">
        <h4 class="page-header">Add your shop details</h4>

        <%= render 'form' %>

      </div>

    </div>
  </div>

  <hr>
  <%= link_to 'Back', shops_path %>
</div>
