<div class="container-fluid">
  <div class="section clearfix">
    <div class="big-search">
      <div class="center">
        <h3>Welcome to the best place to sell and buy online in Ghana</h3><br>
        <p>
          Buy and sell everything from electronics to baby products, property  and more in Ghana - for free!
        </p>
        <%= form_tag search_items_path, method: :get do |f| %>
          <div class="form-group has-feedback">
            <%= text_field_tag :search, nil, placeholder: "What are you shopping for today?", class: " form-control" %>
            <i class="fa fa-search fa-2x form-control-feedback"></i>
          </div>
        <% end %>
        <h4 class="page-header">Shop by category</h4>
        <div class="row">
            <% @categories.each do |category| %>
              <div class="col-md-2">
                  <div class="panel">
                    <h3><%= link_to category.name, category_path(category.id) %></h3>
                  </div>
                </div>
            <% end %>
          </div>
      </div>

    </div>
  </div>
</div>
