$white: #FFFFFF;
$dark: #7c7c7c;
$light: #f4f4f4;
$highlight: #8bc6db;
$border: #E9E9E9;
$claeusRed: #f61616;


* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  a {
    color: grey;
  }
}

body {
  background-color: #fcfcfc !important;
}

.container {
  width: 70%;
  margin: 0 auto;
}


.clearfix:before{}
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

nav {
	border-radius: 0;
	background-color: #e5e5e5 !important;
  margin-bottom: 0;
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.navbar {
	border-radius: 0;
	background-color: #FFFFFF;
  margin-bottom: 0 !important;
}
.navbar-right {
  li {
    font-size: 1.4rem;
  }
}

.navbar-brand {
	font-weight: bold;
	font-size: 2rem;
	font-family: monospace;
  line-height: inherit;
}

.navbar-form {
	margin: 0;
	padding: 0;
}

.main-search {
  .form-control,
  .button-other {
    border: 2px solid $light !important;
  }
  .form-control {
    width: 400px !important;
    padding: .6rem;
    border-radius: 0;
  }
  .button-other {
    width: 120px !important;
    border-radius: 0;
  }

}


.main {
	width: 100%;
	height: 300px;
	background-image: url('jumbotron.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $white;


}
#only-text {
  a{
    text-align: center;
  }
}
.banner-elements {
	width: 90%;
	margin: 5rem auto;
	padding: 5rem auto;
	h4 {
		margin-top: 0;
	}
}


.thumbnail {
  min-height: 100px;
  width: 100%;
  img {
    width: 100%;
    height: 75%;
  }
  .caption {
    height: 25%;
    padding: 0;
    background-color: $light;
    h3 {
      font-weight: bold;
      text-transform: capitalize;
      margin-top: .5rem;
      margin-bottom: .5rem;
      font-size: 1.3rem;
    }
    p {
      margin-bottom: .2rem;
    }
  }

}



.item-desc {
  min-height: 10rem;
}

span {
  line-height: 2rem;
  i{
    line-height: 2rem;
    padding-right: .5rem;
  }
}

.label {
  padding: .5rem !important;
}

#thin-line {
  padding: 2rem;
  border-left: 1px solid $claeusRed;
}

.sign-in {
  max-width: 50%;
  margin: 2rem auto;
}

.page-header {
  text-align: center;
}


.round-image-50 {

  img{
    width: 100%;
    background-color: #fff;
    border: 1px solid $light;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    overflow: hidden;
    text-align: center;
  }
}

.round-image-100{

  img{
    width: 100%;
    background-color: #fff;
    border: 1px solid $light;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    text-align: center;
  }
}

.center {
  max-width: 50%;
  margin: 1rem auto;
}

textarea {
  min-height: 200px !important;
}

.shop-banner {
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    position: inherit;
  }

}

/*****************************
		FOOTER
******************************/

.bottom-section {
  background-color: #303945;
  min-height: 200px;
  padding: 5%;
  color: #8c9098;
	margin-top: 2rem;
  a {
      display: block;
      font-size: 13px;
      color: #FFFFFF;
      font-weight: 500;
  }
  .foot-note {
    margin: 3rem auto;
    text-align: center;
  }
}
/*****************************
		BUTTONS
******************************/

.button-default {
	padding: .7rem;
	border: 1px solid white;
	margin-right: 1rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	background-color: $claeusRed;
	color: #FFFFFF;
}

.button-cart, .button-other {
	padding: 3px 6px;
	width: 120px;;
}

.button-contact {
	margin-top: .578rem;
	border: 1.5px solid white;
	background-color: #ff4444;
	color: #FFFFFF;
	padding: 1rem;
	width: 245px;
}

.button-other {
	border: 2px solid #FE5F55;
	background-color: #FFFFFF;
	color: #ff4444;
	padding: 1rem;

}


/*==================================
      MEDIA QUERIES
==================================*/
// @media screen and (max-width: 768px) and (min-width: 481px){
//   .category {
//     .category-inner {
//       padding: 5%;
//     }
//   }
//
//   .main-search{
//     padding: 0;
//     .form-group {
//       width: 100%;
//       input[type="text"]{
//         width: 75%;
//         margin: 0;
//       }
//
//       .button-default{
//         width: 20%;
//         margin: 0;
//         padding: 0;
//       }
//     }
//     input[type="text"]{
//       margin: 0 !important;
//     }
//     .button-default{
//       width: 100%;
//     }
//   }
//
// }

// @media screen and (max-width: 480px){
//   .category {
//     .category-inner {
//       padding: 5%;
//     }
//   }
//   .main-search{
//     padding: 0;
//     .form-group {
//       width: 100%;
//       input[type="text"]{
//         width: 75%;
//         margin: 0;
//       }
//
//       .button-default{
//         width: 20%;
//         margin: 0;
//         padding: 0;
//       }
//     }
//     input[type="text"]{
//       margin: 0 !important;
//     }
//     .button-default{
//       width: 100%;
//     }
//   }
//
//   .col-md-3{
//     margin-top: 1.5rem;
//   }
// }
// //
// @media screen and (max-width: 1500px) and (min-width: 769px){
//   .category {
//     .category-inner {
//       padding: 5%;
//     }
//   }
//   .main-search{
//     padding: 0;
//     .form-group {
//       width: 100%;
//       input[type="text"]{
//         width: 75%;
//         margin: 0;
//       }
//
//       .button-default{
//         width: 20%;
//         margin: 0;
//       }
//     }
//     input[type="text"]{
//       margin: 0 !important;
//     }
//     .button-default{
//       width: 100%;
//     }
//   }
//
//
//   .col-md-3{
//     margin-top: 1.5rem;
//   }
// }
