$white: #FFFFFF;
$dark: #7c7c7c;
$light: #f4f4f4;
$highlight: #8bc6db;
$border: #E9E9E9;
$claeusRed: #f61616;


* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  a {
    color: grey;
  }
}

body {
  background-color: $white;
}

.container {
  width: 70%;
  margin: 0 auto;
}


.clearfix:before{}
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

nav {
	border-radius: 0;
	background-color: #FFFFFF;
  margin-bottom: 0;
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.navbar {
	border-radius: 0;
	background-color: #FFFFFF;
  margin-bottom: 0 !important;
}

.navbar-right {
	a {
		padding: 1rem;
		line-height: 52px;
		font-size: 1.3rem;
		&:hover {
			text-decoration: none;
		}
	}
	.button-default {
		border-radius: 0;
	}
}

.navbar-default {
	background-color: white;
	margin-bottom: 0;
	border-radius: 0;
	.navbar-nav {
		li{
			a{
				padding: .8rem auto;
			}
		}
	}
}

.navbar-brand {
	font-weight: bold;
	font-size: 2rem;
	font-family: monospace;
  line-height: inherit;
}

.navbar-form {
	margin: 0;
	padding: 0;
}

.main-search {
	margin: 1rem auto;
	padding: 0;
	width: 100%;
	.col-md-9 {
		margin-right: 0;
		margin-left: 2rem;
		padding: 0;
    padding-left: 2rem;
	}


	.form-group {
    margin: 0 auto;
			width: 100%;
			input[type="text"]{
			width: 60%;
			padding: .7rem;
			border-radius: 0;
			margin: 0  0 0 3rem;
			border: 2px solid #ff4444;
			height: 45px;
			}
			.button-default{
			margin: 0 3rem 0 0;
			height: 45px;
			width: 20%;
			}
		}
}


.main {
	width: 100%;
	height: 300px;
	background-image: url('jumbotron.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $white;


}
#only-text {
  a{
    text-align: center;
  }
}
.banner-elements {
	width: 90%;
	margin: 5rem auto;
	padding: 5rem auto;
	h4 {
		margin-top: 0;
	}
}



.category {
  width: 100%;
  height: 100%;
  margin: 2rem auto;
  border: 1px solid $light;
  height: 200px;
  .category-inner {
    background-color: $claeusRed;
    width: 50%;
    margin: 20% 20%;
    min-height: 100px;
    color: $white;
    &:hover {
      background-color: $dark;
      color: white;
    }
    h3{
      font-size: 16px;
      padding: 20% 20%;
      text-transform: capitalize;
    }
  }
}


/*****************************
		FOOTER
******************************/

.bottom-section {
  background-color: #303945;
  min-height: 200px;
  padding: 5%;
  color: #8c9098;
	margin-top: 2rem;
  a {
      display: block;
      font-size: 13px;
      color: #FFFFFF;
      font-weight: 500;
  }
  .foot-note {
    margin: 3rem auto;
    text-align: center;
  }
}
/*****************************
		BUTTONS
******************************/

.button-default {
	padding: .7rem;
	border: 1px solid white;
	margin-right: 1rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	background-color: $claeusRed;
	color: #FFFFFF;
}

.button-cart, .button-other {
	padding: 3px 6px;
	width: 120px;;
}

.button-contact {
	margin-top: .578rem;
	border: 1.5px solid white;
	background-color: #ff4444;
	color: #FFFFFF;
	padding: 1rem;
	width: 245px;
}

.button-other {
	border: 1px solid #FE5F55;
	background-color: #FFFFFF;
	color: #ff4444;
	width: 120px;
}


/*==================================
      MEDIA QUERIES
==================================*/
@media screen and (max-width: 768px) and (min-width: 481px){
  .category {
    .category-inner {
      padding: 5%;
    }
  }

  .main-search{
    padding: 0;
    .form-group {
      width: 100%;
      input[type="text"]{
        width: 75%;
        margin: 0;
      }

      .button-default{
        width: 20%;
        margin: 0;
        padding: 0;
      }
    }
    input[type="text"]{
      margin: 0 !important;
    }
    .button-default{
      width: 100%;
    }
  }

}

@media screen and (max-width: 480px){
  .category {
    .category-inner {
      padding: 5%;
    }
  }
  .main-search{
    padding: 0;
    .form-group {
      width: 100%;
      input[type="text"]{
        width: 75%;
        margin: 0;
      }

      .button-default{
        width: 20%;
        margin: 0;
        padding: 0;
      }
    }
    input[type="text"]{
      margin: 0 !important;
    }
    .button-default{
      width: 100%;
    }
  }

  .col-md-3{
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 1500px) and (min-width: 769px){
  .category {
    .category-inner {
      padding: 5%;
    }
  }
  .main-search{
    padding: 0;
    .form-group {
      width: 100%;
      input[type="text"]{
        width: 75%;
        margin: 0;
      }

      .button-default{
        width: 20%;
        margin: 0;
      }
    }
    input[type="text"]{
      margin: 0 !important;
    }
    .button-default{
      width: 100%;
    }
  }


  .col-md-3{
    margin-top: 1.5rem;
  }
}
