<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>



<div class="row">
  <% @categories.each do |category| %>
    <div class="col-lg-4 col-md-6 ">
      <div class="category">
        <div class="category-inner">
          <h3><%= link_to category.name, category_path(category.id) %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Category', new_category_path %>
