
    <header id="top-nav">
      <!-- Fixed navbar -->
      <nav>
        <div class="container">
          <a class="navbar-brand float-left" href="#" >
            <p >
              <strong id="name">claeus</strong>
            </p>
          </a>
          <ul class="main_nav_elements">
            <li><a href="#">Sell on Claeus</a></li>
            <li><a href="#">Register</a></li>
            <button type="submit" class="btn btn-default button">Sign In</button>
           <li> <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </nav>
    </header><br >
